{
  "builders": [
    {
      "boot_command": [
        "A<enter>",
        "<wait5>",
        "http://{{ .HTTPIP }}:{{ .HTTPPort }}/install_amd64.conf<enter><wait>",
        "I<enter>"
      ],
      "boot_wait": "25s",
      "disk_size": 10240,
      "iso_checksum": "CKSUM64",
      "iso_checksum_type": "sha256",
      "iso_url": "https://ftp.halifax.rwth-aachen.de/pub/OpenBSD/snapshots/amd64/install65.iso",
      "name": "amd64",
      "http_directory": "http",
      "http_port_min": "8954",
      "http_port_max": "8954",
      "shutdown_command": "echo '/usr/local/bin/sudo /sbin/halt -p' > shutdown.sh; sh 'shutdown.sh'",
      "ssh_password": "vagrant",
      "ssh_port": 22,
      "ssh_username": "vagrant",
      "ssh_wait_timeout": "10000s",
      "type": "qemu",
      "format": "qcow2",
      "accelerator": "kvm",
      "disk_interface": "virtio"
    },
    {
      "boot_command": [
        "A<enter>",
        "<wait5>",
        "http://{{ .HTTPIP }}:{{ .HTTPPort }}/install_i386.conf<enter><wait>",
        "I<enter>"
      ],
      "boot_wait": "25s",
      "disk_size": 10240,
      "iso_checksum": "CKSUM32",
      "iso_checksum_type": "sha256",
      "iso_url": "https://ftp.halifax.rwth-aachen.de/pub/OpenBSD/snapshots/i386/install65.iso",
      "name": "i386",
      "http_directory": "http",
      "http_port_min": "8956",
      "http_port_max": "8956",
      "shutdown_command": "echo '/usr/local/bin/sudo /sbin/halt -p' > shutdown.sh; sh 'shutdown.sh'",
      "ssh_password": "vagrant",
      "ssh_port": 22,
      "ssh_username": "vagrant",
      "ssh_wait_timeout": "10000s",
      "type": "qemu",
      "format": "qcow2",
      "accelerator": "kvm",
      "disk_interface": "virtio"
    }
  ],
  "post-processors": [
    "vagrant"
  ],
  "provisioners": [
    {
      "scripts": [
        "scripts/base.sh"
      ],
      "type": "shell"
    }
  ]
}

